.toast {
  position: fixed;
  top: 10px;
  right: -500px;
  width: 300px;
  max-width: 90%;
  z-index: 9999;
  transition: right 0.4s ease, opacity 0.3s;
  opacity: 0;
}

.toast.show {
  background: white;
  right: 20px;
  opacity: 1;
  border: 1px solid #ff8686;
  padding: 5px;
}
.login-popup-title {
  padding: 5px 0;
  font-size: 15px;
}
.login-popup-text {
  font-size: 12px;
}
.toast-success {
  background: linear-gradient(135deg, #22c55e, #16a34a);
}

.toast-error {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

.toast-warning {
  background: linear-gradient(135deg, #f59e0b, #d97706);
}

.toast-info {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
}
